* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background: 
		url('./sobaka-border-kolli-tsvety-fioletovye-priroda-rakurs-vzgliad.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

header {
	height: 20vh;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.about-us-text {
	position: absolute;
	width: 600px;
	height: 300px;
    margin-left: 60%;
    margin-top: 10%;
    color: white;
}

.about-us-text h1 {
    text-align: right;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 60px;
}

