* {
    margin: 0;
    padding: 0
}

.title {
    text-align: center;
    color: darkgoldenrod;
    background: url(https://media.istockphoto.com/photos/large-happy-dogs-white-web-banner-picture-id1066732182?k=20&m=1066732182&s=170667a&w=0&h=OcScNIY9PMIsfDW0O583vgd6FeUt-TUYE4qfBSuMAzw=);
    height: 25vh;
    border-radius: 5px;
}

body {
    background: url(https://wallpaperaccess.com/full/1826326.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.matchCard {
    flex: 0 1 calc(25% - 1em);
    border: solid 2px black;
    margin: 10px;
    background: linear-gradient(90deg, white, lavenderblush, lavender, lightgoldenrodyellow);
    padding-top: 25px;
    border-radius: 10px;
}

.matchImg {
    height: 75%;
    width: 75%;
    background-size: cover;
    border-radius: 10px;
}

#dog-card {
    font-size: 22px;
    text-align: center;
}

.thirteen h1 {
    position:relative; font-size:40px; font-weight:700;  letter-spacing:0px; text-transform:uppercase; width:150px; text-align:center; margin-bottom: 200px; white-space:nowrap; padding:5px 11px 3px 11px; text-shadow:0 2px 0 #3B3B3B;
}

.thirteen h1:before, .thirteen h1:after {
    position:absolute; 
    content: '';
    height: 7px;

    width: 7px; border-radius:50%;
    bottom: 12px;
}

.thirteen h1:before {
    left:-20px;
}

.thirteen h1:after {
    right:-20px;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    

    .matchCard {
        flex: 0 1 calc(25% - 1em);
    }
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

    .matchCard {
        flex: 0 1 calc(25% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

    .matchCard {
        flex: 0 1 calc(25% - 1em);
}
}

@media screen and (min-width: 52em) {
    .matchCard {
        flex: 0 1 calc(25% - 1em);
    }
    .centered {
        flex: 0 1 calc(25% - 1em);
    }
}