* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary: #1e1e1e;
	--dark: #121212;
	--pure: #ffffff;
	--gray: #1d1d1d;
	--mild: #b9b8b8;
}
.h3 {
	text-align: left;
	font-size: 26px;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../images/Dog.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #ffffff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: sans-serif;
	font-size: 14px;
}
.nav-area li a:hover {
	background: #ffffff;
	color: #333;
	height: auto;
}
.logo img {
	width: 100px;
	float: left;
	height: auto;
	border-radius: 50px;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text a {
	border: 1px solid #ffffff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
}
.welcome-text a:hover {
	background: #ffffff;
	color: #333;
}
